.button  {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border: none;
    background-color: #07d79c;
    border-radius: 5px;
    width: 370px;
    height: 42px;
    outline: none;
}